/* || CONFIGURATION */
:root {
  --light: white;
  --dark: #313231;
  --red: #e3022c;
  --blue: #233677;
  --verylightblue: #CFE2FF; /* #eff1f9; */
  --grey: #6C757D;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* || HTML elements */
h1, h2 {
  margin:.3rem 0;
  padding: 0;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.3rem;
  color: var(--light) !important;
}

p {
  margin: 0;
}

section {
  padding: .5rem;
  margin: .5rem 0;
  background-color: var(--grey);
  border-radius: 6px;
}

ul {
  margin: 0;
  padding: 0 !important;
}

li {
  list-style-type: none;
}

/* || Classes and Ids*/
.accordion {
  margin-bottom: .8rem;
}

.accordion-item {
  border: #313231 2px solid;
}

.accordion-button {
  font-weight: 700;
  background-color: var(--verylightblue);
}

.row {
  margin-bottom: .8rem;
}

.blue {
  color: #0000ff;
  font-weight: bolder;
}

.red {
  color: #FF0000;
  font-weight: bolder;
}

.green {
  color: #009100;
  font-weight: bolder;
}

#map {
  height: 80vh;
}
