<main class="container">
  <h1 class="text-center">Echec de la soumission des données du challenger</h1>
  <p>Un problème a eu lieu lors de l'envoi de vos fichiers. Réessayez un peu plus tard puis contactez nous par email si le problème persiste.</p>
</main>
