  <main class="container">
    <h1 class="text-center">Soumission donnée challenger</h1>
    <div id="message" class="fixed-top bg-danger rounded text-white text-center p-2 fs-2 m-4 d-none"></div>
    <section>
      <h2 class="text-center">Données à saisir</h2>
      <form id="form" action="http://localhost:3000/validator" method="POST" enctype="multipart/form-data">
        <section class="light">
          <div class="form-group">
            <label for="text">Texte</label>
            <textarea id="text" name="text" rows="10" class="form-control" required>Raconte ton histoire ici</textarea>
          </div>
          <div class="form-group">
            <label for="photoFiles">Photos</label>
            <input id="photoFiles" name="photoFiles" type="file" class="form-control" accept="image/*" multiple="true" required />
          </div>
          <div class="form-group">
            <label for="gpxFiles">Traces GPX</label>
            <input id="gpxFiles" name="gpxFiles" type="file" class="form-control" accept=".gpx" multiple="true" required />
          </div>
          <input id="challengerFolderId" name="challengerFolderId" type="hidden", value="{{folderId}}">
        </section>
        <button type="submit" class="btn btn-primary">Soumettre mes données</button>
      </form>
    </section>
  </main>
