<main class="container">
  <h1 class="text-center">Soumission des données du challenger réussie</h1>
  <p>Vos données ont bien été soumises. Elles vont être analysées par les bénévoles de l'association du challenge du Tourmagne qui vont feront un retour par email dans les prochains jours.</p>
  <p>Vous pouvez quitter cette page.</p>
</main>
