/* || CONFIGURATION */
:root {
  --light: white;
  --dark: #313231;
  --red: #e3022c;
  --blue: #233677;
  --verylightblue: #CFE2FF; /* #eff1f9; */
  --grey: #6C757D;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* || HTML elements */
h1, h2 {
  margin:.3rem 0;
  padding: 0;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.3rem;
  color: var(--light) !important;
}

p {
  margin: 0;
}

section {
  padding: .5rem;
  margin: .5rem 0;
  background-color: var(--grey);
  border: #313231 2px solid;
  border-radius: 6px;
}

form {
  border-radius: 6px;
}

/* || Classes and Ids*/
.form-group {
  margin-bottom: 1.3rem;
}

.light {
  background-color: var(--light);
}
